<!DOCTYPE html>
<html>
    <head>
        <title>Send Ads</title>
        <style>
            form label {
                display: inline-block;
                margin-right: 10px;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <h1>Send Advertisement</h1>
        <p>Enter a name of the new or existing category, or select existing one from the box<br> Only one option is required </p>
        <form action="/send" method="post">
            <label>Category: <input type="text" name="entered_category" oninput="toggleSelectBox()"></label>
            <label for="selected_category" id="selectCategoryLabel">Existing Categories:
                <select name="selected_category">
                    {% for category in categories %}
                       <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>Ad Text: <input type="text" name="ad_text" required></label>
            <button type="submit">Send Ad</button>
        </form>
        <script>
            function toggleSelectBox() {
                var enteredCategory = document.querySelector('input[name="entered_category"]');
                var selectBoxLabel = document.getElementById('selectCategoryLabel');
                if (enteredCategory.value) {
                    selectBoxLabel.style.display = 'none';
                } else {
                    selectBoxLabel.style.display = 'inline-block';
                }
            }

            document.addEventListener('DOMContentLoaded', function() {
                var enteredCategory = document.querySelector('input[name="entered_category"]');
                enteredCategory.addEventListener('input', toggleSelectBox);
                toggleSelectBox();
            });
        </script>
    </body>
</html>
