websockets
asyncio
watchdog[watchmedo]
fastapi
uvicorn
jinja2
aiofiles
python-multipart

pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
# sh            # for running bash commands in some tests (linux/macos only)

jinja2
aiofiles
